.home {
    background-size: 1700px;
    background-image: url('back.jpg'); 
    background-position: center;
     }
.Links{
    text-align: center;
    font-style: oblique;
    font-size: 32px;
    color: purple;
    float: right;
    background-color: green;
    border-radius: 30px 30px 30px;
    }
.Introduction{
    color: orange;
    font-size: 24px;
    text-align: center;
    /*background-color: green;*/
    border-radius: 30px;
}
 .text{
    font-style: italic;
    padding: 20px;
    color: crimson;
    font-size: 24px;

 }
 .info{
    font-size: 24px;
}
.email{
    font-size: 24px;
}
.contact{
    margin: 10px;
    background: skyblue;
}
.port{
    background-image: url('img2.jpg');
    background-size: 1000px;
}
.nxt{
 text-align: right;
 font-size: 20px;
}
tr{
    columns: 3;
}
.immg{
    text-align: right;
    }
.topic{
    text-align: center;
    font-style: italic;
    font-size: 50px;
    border-style: solid;
    border-radius: 30px;
    border-width: thick;
    float: center;
}
.file{
    float: right;
    background: skyblue;
}
.txt{
    text-align: center;
}
.table{
    border:5px solid;
    text-align: center;
    table-layout: fixed;
    border-radius: 20px;
}
.qual{
text-align: left;
font-size: 30px;
}
.field{
    float: left;
}
.blog{
    background: url('grass.jpg');
    padding: 10px;
    background-size: 680px;

}
img{
    height: 300px;
     border: 5px solid black;
     border-radius: 10px;
}
.th{
    border: 5px solid orange;
}
.mon{
    border: 5px solid orange;
    border-radius: 20px;
}
.set{
    font-size: 34px;
    color: whitesmoke;
  
}
.in{
    font-size: 30px;
    display: inline;
    color: orangered;
}
.nature{
    font-size: 22px;
    color: whitesmoke;
    columns: 3;
}
.copy{
    text-align: right;
    float: right;
    font-size: 20px;
    color: mintcream;
    border: 0px;
}
.goto{
    text-align: right;
}
.report{
    background: url('site.jpeg');
}
.uff{
     border: 4px solid;
     border-radius: 20px;
}
.site{
    color: orangered;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.page{
    font-size: 20px;
}
.format{
    border: 5px solid red ;
    border-radius: 20px;
}
.sr{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: brown;
}
.pht{
    font-size:20px;
}